$light: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;

$font-normal: 1rem;
$font-large: $font-normal *2;
$font-extra-large: $font-normal *4;
$font-small: $font-normal /1.5;
$font-extra-small: $font-normal/2;