
@import './variables/colors';
@import './variables/spacing';
html,
body {
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
svg{
 
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.ant-layout{
.ant-layout-header{
  padding: .8rem;
}}
.ant-table-column-title{



}
.ant-card{
  background-color: black;
}
.ant-select-selection.ant-select-selection--single {
 
  height: 53px;
}

.ant-select-selection-selected-value {
  height: 53px;
  padding: 0px;
  margin: 0px;
}

.ant-select-selection__rendered {
  padding: 0px;
  margin: 0px;
}

.ant-select-dropdown-menu.ant-select-dropdown-menu-root.ant-select-dropdown-menu-vertical {
  padding: 0px;
  margin: 0px;
}

.ant-select-dropdown-menu-item {
  padding: 0px;
  margin: 0px;
}
.ant-select-selector{
 
}
.ant-menu-vertical, .ant-menu-item::after, .ant-menu-vertical-left, .ant-menu-item::after, .ant-menu-vertical-right, .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after{
  border-right: none;
  -webkit-app-region: no-drag;

}
.ant-menu-item{
  padding: 0;
  margin: 0;
  -webkit-app-region: no-drag;
}
.ant-menu-item-selected{
 

}
#nprogress .bar {
  height: 4px;
  background: #27c4f5 linear-gradient(to right,#BADEF4,#48BBED,#1578D1);
  background-size: 500%;
  animation: 2s linear infinite barprogress, .3s fadein;
  width: 100%;
}

.ant-input-group-wrapper{
  
}
.ant-menu-root.ant-menu-vertical, .ant-menu-root.ant-menu-vertical-left, .ant-menu-root.ant-menu-vertical-right, .ant-menu-root.ant-menu-inline{
  // padding: 1rem;
}
.ant-input-group-wrapper{
 
}
svg{
  margin: 0 .3rem ;
}
.ant-select .ant-select-selector {

}
.ant-drawer-body {
  display: grid;
  grid-template-rows: 1fr .1fr;

}
.ant-btn, .ant-btn-primary, .ant-btn-sm{
 
}
.ant-popover, .ant-popconfirm ,.ant-popover-placement-bottom  {

}
.ant-modal-close{
  display: none
}
.ant-modal-header{
 
}
.ant-modal-content{
 
}
::-webkit-scrollbar {
  width: $space_small;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  background: transparent;
}
.ant-table-row, .ant-table-row-level-0, .ant-table-row-selected, .ant-table-wrapper{


  th{
    background-color: white;
  }
}
.ant-menu-item-selected{

}
*{
  overflow: hidden;
}

/* Track */
::-webkit-scrollbar-track {
  background: none; 
  padding: .5rem;
  border-radius: 10px;
  margin: $space_normal 0;
  background: transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
 
  background: $mono_grey; 
  border-radius: 10px;
  width: .2rem;
  
}
.ant-table-cell, .ant-table-column-has-sorters{
  background-color: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $color_accent; 
  border-radius: 10px;

}
.ant-select-selection-search-input{
  background-color : blue;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: mono_grey;
    background: black;
  }
}

